# Archivos y carpetas que no necesitamos en nuestro contenedor
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de control de versiones
.git
.gitignore

# Archivos de base de datos SQLite
*.db

# Archivos de Docker
Dockerfile
docker-compose.yml
.dockerignore

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo